/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

$dark-background: rgb(22, 32, 41);
$body-background: rgb(212, 214, 209);

body {
    background-color: $body-background;
}

#most-reviewed-home, #most-recent-home, #made-in-usa-home, #all-products, #individual-product-reviews {
    background-color:rgb(165, 167, 162);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 60%;
}

.nav-links {
    background-color: $dark-background;
    padding: 7.5px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 20%;
}

a {
    color: white;
}

a:hover {
    font-style: italic;
}

.form-size {
    width: 300px;
}

.tall-text-area {
    height: 200px;
}

.form-size, .tall-text-area {
    border-radius: 2px;
    padding: 2px;
}