<h1>Products</h1>

<div id="all-products">
  <% if @products.any? %>
    <form>
    <label>Sort by:</label>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" name="made_in_usa">Made In USA</button>
      <button class="btn btn-primary" type="submit" name="recently_added">Most Recent</button>
      <button class="btn btn-primary" type="submit" name="product_with_most_reviews">Most Reviewed Product</button>
    </div>
  </form>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no products yet.</p>
  <% end %>
</div>

<div class="nav-links">
  <p><%= link_to "Create new product", new_product_path %></p>
  <p><%= link_to "View all products", products_path %></p>
</div>